<div class="px-1 py-2 my-3 text-center">
   <h1 class="display-5 fw-bold">Agrega un producto</h1>
   <div class="col-lg-6 mx-auto">
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
         <form class="mt-3" id="productForm">
            <div class="mb-3">
               <label for="NombreProducto" class="form-label">Nombre Producto</label>
               <input type="text" class="form-control" name="name" id="nombre" required />
            </div>
            <div class="mb-3">
               <label for="precio" class="form-label">Precio</label>
               <input type="number" class="form-control" name="price" id="precio" />
            </div>
            <div class="mb-3">
               <label for="image" class="form-label">Link Foto</label>
               <input type="url" class="form-control" name="image" id="image" />
            </div>
            <button
               id="botonProductos"
               value="save"
               class="mt-3 btn btn-primary btn-sm"
            >Agregar producto nuevo</button>
         </form>
      </div>
   </div>
</div>